

.nav-item{
	&:hover{
		cursor: pointer !important;
	}
}
.nav-link{
	&:hover{
		cursor: pointer !important;
	}
}

.navbar-dark{
	background-color: #032b57 !important
}
// premenovat subor a zmenit referenciu