#app {
	/* font-family: 'Avenir', Helvetica, Arial, sans-serif; */
	font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* text-align: center; */
	color: #2c3e50;
	// background-color: blueviolet;
}

#nav {
	padding: 30px;
	a {
		font-weight: bold;
		color: #2c3e50;
		.router-link-exact-active {
			color: #42b983;
		}
	}
}

div{
	.notifications{
		top: 88px !important;
	}
}

.vue-notification-template {
	border-radius: 5px;
}

.notification-error {
	background-color: aqua;
}

.container-fluid{
    padding: 0;
  }

.content-wrapper{
  /* margin-top: 68px; */
}